html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.btn-container{
    width: 25%;
    height: 90%;
    background-color: black;
    position: relative;
    border-radius: 12px;
    margin: 2.5% 2.5% 2.5% 2.5%;
}

button{
    all: unset;
    display: block;
    height: 2rem;
    color: white;
    font-size: large;
    margin-top: 3rem;
    margin-left: 2.5rem;
}

@media screen and (max-width: 850px){
    button{
        font-size: small;
        margin-left: 1rem;
    }
}

.content{
    height: 90%;
    background-color: #ebebeb;
    width: 100%;
    margin: 2.5% 2.5% 2.5% 0;
    border-radius: 12px;
    position: relative;
}

h1{
padding-left: 5%;
}

img{
    width: 90%;
    height: 50%;
    filter: grayscale(70%);
    margin-left: 5%;
    margin-right: 5%;
    transition: 1.0s;
}

img:hover{
    filter: grayscale(0%);
    transition: 1.25s;
    border-radius: 20px;
}

.desc{
    margin: 2rem 5% 0 5%;
    width: 90%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}